
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  /* COMIENZO CSS NAV */

.FotoLogo{

height: 50%;
width: 50%;
}

@media (min-width:769px){
    .FotoLogo{
        height: 25%;
        width: 25%;
    }
    
}

.enlaceNavColor{
    color: #0247b2 ;
}

footer{
    background-color: #0247b2;
    color: white;
    text-decoration: none;
    text-align: center;
    background-image: url(/wave\ \(1\).svg);
    width: 100%;
    background-size: cover;
    height: 400px;
    
    
}
.container{
    margin-top: 100px;
}
.links{
    text-decoration: none; 
    color: white;
}

.FotoLogoFooter{
    height: 50px;
    width: 100px;
    border-radius: 120px;
}
.box{
    margin-top: 15px;
}

@media (min-width:769px){
    
    .box{
        margin-top: 50px;
    }
}

/* FIN CSS NAV */

/* estilos carousel */

/* estilos carousel */

/* COMIENZO CSS HOME */
#seccion-productos {
  display: flex;
  justify-content: center !important;
}
#seccion-productos2 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* aside {
  border: 1px solid firebrick;
} */
aside img {
  width: 100%;
}
#seccion-productos3 {
  display: flex;
  justify-content: center;
}
.lo-mas-nuevo {
  margin-top: 1rem;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
.card {
  margin-top: 1rem;
}
.card:hover {
  transition-duration: 0.5s;
  box-shadow: 2px 1px 15px -1px;
}
.card-body {
  text-align: center;
}
.oferta {
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.precio-s23-viejo {
  color: gray;
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
}
.porcentaje-descuento {
  color: white;
  padding: 3px;
  margin: 0%;
  background-color: rgba(17, 0, 255, 0.63);
  display: flex;
  align-items: center;
  border-radius: 5%;
  margin-left: 0.5rem;
}
.precio-envio {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.descuento {
  padding: 0%;
  margin: 0%;
  font-size: 1.2rem;
  text-align: center;
}
.precio-envio strong {
  color: green;
  text-align: center;
}
#seccion-4 {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tienda h5 {
  padding: 0;
  margin: 0;
}
.tecnologia-inteligente {
  padding: 0;
  margin: 0;
}
.subs-boletin {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#enviar-email {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
#enviar-boletin {
  height: 100%;
}
@media (min-width: 768px) and (max-width: 822px) {
  aside {
    position: relative;
    left: 17rem;
  }
}
@media (min-width: 823px) and (max-width: 900px) {
  aside {
    position: relative;
    left: 19rem;
  }
}
@media (min-width: 901px) and (max-width: 991px) {
  aside {
    position: relative;
    left: 20rem;
  }
}
@media (min-width: 992px) and (max-width: 1094px) {
  .card-title {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 885px) {
  .ultra-23 {
    font-size: 16px;
  }
  .ultra-30 {
    font-size: 16px;
  }
  .note-11 {
    font-size: 16px;
  }
}
@media (min-width: 1095px) and (max-width: 1180px) {
  .ultra-23 {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1049px) {
  .card-nuevos {
    margin-top: 3rem;
  }
}
@media (min-width: 1050px) and (max-width: 1119px) {
  .card-nuevos {
    margin-top: 4rem;
  }
}
@media (min-width: 1120px) {
  .card-nuevos {
    margin-top: 5rem;
  }
}
@media (min-width: 1800px) {
  .card-nuevos {
    margin-top:10rem;
  }
}
/* FIN CSS HOME */
  
  /* COMIENZO CSS FOOTER */
  footer {
    background-color: #0247b2;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  .links {
    text-decoration: none;
    color: white;
  }
  /* FIN CSS FOOTER */
  
  @media (min-width: 1024px) {
    .zflip {
      font-size: 18px;
    }
  }


 
  
  /*COMIENZO CSS CONTACTO */
  
  .formulario{
    background-color: #0247b2;
    color: white;
    padding: 20px;
    margin: 20px;
    border-color: black;
    border-radius: 20px;
    
    text-align: center;
  }
 
  

  .infoContacto{
    text-align: center;
  }

  .redes{
    color: black;
    font-size: 3rem;
  }
  
  